# Зависимости Node.js
node_modules/
npm-debug.log
package-lock.json

# Базы данных
database.sqlite
database-local.sqlite
*.sqlite
*.db

# Временные файлы и кэши
.DS_Store
*.log
.npm/
.node_repl_history
*.cache

# Локальные конфигурации
.env
.vscode/
.idea/

# Другие временные папки
text/
uploads/
temp/

# Скомпилированные файлы
dist/
build/